<div class="main">
    <div class="container">
    


        <h2>CODESS  :  Angular Firebase Code Sharing Platform</h2>
        <h3><b>Description</b></h3>
            <h5>        This project is a code sharing platform built with Angular and Firebase. It provides users with the ability to contribute and view code snippets. Users must log in to contribute new code snippets, while anonymous users can browse existing contributions. The platform features user authentication, including sign up and login functionality. Each user can create their own code "bin" to contribute and manage their code snippets.
            </h5>        
        
        <h3><b>Features</b></h3>
        <ul>
            <li>        <b>User Authentication:</b> Secure user registration and login functionality.
            </li>
            <li>        <b>Code Contribution:</b> Registered users can contribute new code snippets to the platform.
            </li>
            <li>        <b>Code Viewing: </b>Anonymous users can view existing code snippets contributed by registered users.
            </li>
            <li>        <b>Personal Code Bins:</b> Each user has their own space to manage and contribute code snippets.
            </li>
            <li>        <b>Responsive Design:</b> Optimized for various screen sizes and devices.
            </li>
        </ul>

    </div>
</div>