/* container */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100pt;
    margin: 30ex 0;
    background-color: #fff;
}


/* container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* 

.container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* form headings */
h4 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 10px;
}

/* input fields */
input[type="title"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
textarea{
    width: 100%;
    padding:10px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;



}

/* error messages */
.red-text {
    color: #e74c3c;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

/* buttons */
button {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

/* login button */
.btn-green {
    background-color: #2ecc71;
    color:white;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #27ae60;
}

/* reset button */


/* disabled button */ 
button:disabled {
    color: white;
    background-color: #0a902d;
    cursor: not-allowed;
}
